@tailwind base;
@tailwind components;
@tailwind utilities;


/* In styles.css */
html, body, app-root {
    background-color: #09090b !important;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 0;
}